* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    padding: 10px;
}

.grid-container {
    height: 500px;
    width: 500px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 3(1fr 2fr 2fr);
    /* grid-template-rows: ; */
}

.stats {
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    border-bottom: 1px solid;
    border-radius: 10px 10px 0 0;
    background-color: hsl(270, 100%, 80%);
    width: inherit;
    height: 35%;
}

.stats span {
    display: block;
    font-weight: bold;
}

.stats p:not(:last-of-type){
    border-right: 1px solid;
}

.cat-interaction {
}

.text {
    width: 500px;
    height: 175px;
    border: 1px solid;
    text-align: justify;
    padding: 10px;
    background-color: ;
}

.text p {
    margin: 15px auto;
}
